workflows/approval-distribution.json
{
  "name": "RAW Network — Approval & Distribution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "approve-content"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-approve",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-reject",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-edit",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000002",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approve-status",
              "name": "status",
              "value": "approved",
              "type": "string"
            },
            {
              "id": "approve-platform",
              "name": "platform",
              "value": "={{ $('Webhook Trigger').item.json.body.platform }}",
              "type": "string"
            },
            {
              "id": "approve-pipeline-id",
              "name": "pipeline_id",
              "value": "={{ $('Webhook Trigger').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "approve-action",
              "name": "action",
              "value": "approve",
              "type": "string"
            },
            {
              "id": "approve-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "approve-message",
              "name": "message",
              "value": "={{ 'Content approved for ' + $('Webhook Trigger').item.json.body.platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000003",
      "name": "Approve Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 260]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reject-status",
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "id": "reject-platform",
              "name": "platform",
              "value": "={{ $('Webhook Trigger').item.json.body.platform }}",
              "type": "string"
            },
            {
              "id": "reject-pipeline-id",
              "name": "pipeline_id",
              "value": "={{ $('Webhook Trigger').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "reject-action",
              "name": "action",
              "value": "reject",
              "type": "string"
            },
            {
              "id": "reject-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "reject-message",
              "name": "message",
              "value": "={{ 'Content rejected for ' + $('Webhook Trigger').item.json.body.platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000004",
      "name": "Reject Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edit-status",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "edit-platform",
              "name": "platform",
              "value": "={{ $('Webhook Trigger').item.json.body.platform }}",
              "type": "string"
            },
            {
              "id": "edit-pipeline-id",
              "name": "pipeline_id",
              "value": "={{ $('Webhook Trigger').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "edit-action",
              "name": "action",
              "value": "edit",
              "type": "string"
            },
            {
              "id": "edit-edited-content",
              "name": "edited_content",
              "value": "={{ $('Webhook Trigger').item.json.body.edited_content || '' }}",
              "type": "string"
            },
            {
              "id": "edit-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "edit-message",
              "name": "message",
              "value": "={{ 'Content edited for ' + $('Webhook Trigger').item.json.body.platform + ' — ready for re-review' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000005",
      "name": "Edit Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 540]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://neajzooemwxxgctsumqr.supabase.co/rest/v1/submissions?pipeline_id=eq.{{ $json.pipeline_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lYWp6b29lbXd4eGdjdHN1bXFyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA2OTk1MSwiZXhwIjoyMDg4NjQ1OTUxfQ.1b7iaYZ1RSDDuhQxuEwmoQ0krKvuGYv7hAO1kHmzU5c"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lYWp6b29lbXd4eGdjdHN1bXFyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA2OTk1MSwiZXhwIjoyMDg4NjQ1OTUxfQ.1b7iaYZ1RSDDuhQxuEwmoQ0krKvuGYv7hAO1kHmzU5c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ [$json.platform + '_status']: $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000006",
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-status",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "resp-action",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "resp-platform",
              "name": "platform",
              "value": "={{ $json.platform }}",
              "type": "string"
            },
            {
              "id": "resp-pipeline-id",
              "name": "pipeline_id",
              "value": "={{ $json.pipeline_id }}",
              "type": "string"
            },
            {
              "id": "resp-timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "resp-message",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000007",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1220, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-raw-pipeline-version",
                "value": "1.0.0"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Approve Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Handler": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Handler": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Handler": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "RAW Network",
      "id": "raw-network"
    },
    {
      "name": "P2 — Approval & Distribution",
      "id": "p2-approval-distribution"
    }
  ]
}
