workflows/approval-distribution.json
{
  "id": "raw-approval-distribution-v1",
  "name": "RAW Network — Approval & Distribution",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "approve-content"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-approve",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-reject",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-edit",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000002",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 400]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0001-4000-8000-000000000003",
      "name": "Approve Handler Stub",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 260],
      "notes": "P2 STUB — Approve path.\n\nImplement in P2:\n1. Route to Platform Router (LinkedIn vs Substack)\n2. LinkedIn path: POST to LinkedIn API with OAuth 2.0\n3. Substack path: POST to Substack API or webhook\n4. Log deployment result\n5. Callback to approval UI with deploy URL\n\nRequires: LinkedIn OAuth 2.0 credentials, Substack API token"
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0001-4000-8000-000000000004",
      "name": "Reject Handler Stub",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 400],
      "notes": "P2 STUB — Reject path.\n\nImplement in P2:\n1. Log rejection reason from body.content\n2. Archive the rejected content for analytics\n3. Optionally notify the approval UI of discard\n\nNo external credentials required."
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0001-4000-8000-000000000005",
      "name": "Edit Handler Stub",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 540],
      "notes": "P2 STUB — Edit path.\n\nImplement in P2:\n1. Take edited_content from request body\n2. Optionally re-run through Voice Engine for consistency check\n3. Return edited content back to approval UI for re-review\n4. Or send directly to platform if auto-approve is enabled\n\nNo external credentials required for the re-route; Anthropic API Key needed if re-running through Voice Engine."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp-status",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "resp-action",
              "name": "action",
              "value": "={{ $('Webhook Trigger').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "resp-platform",
              "name": "platform",
              "value": "={{ $('Webhook Trigger').item.json.body.platform }}",
              "type": "string"
            },
            {
              "id": "resp-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "resp-message",
              "name": "message",
              "value": "P2 stub — action acknowledged but not yet deployed. Distribution will be implemented in Phase 2.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000006",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [980, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "x-raw-pipeline-version",
                "value": "1.0.0"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1220, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Approve Handler Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Handler Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Handler Stub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Handler Stub": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Handler Stub": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Handler Stub": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RAW Network",
      "id": "raw-network"
    },
    {
      "name": "P2 — Approval & Distribution",
      "id": "p2-approval-distribution"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-12T00:00:00.000Z",
  "versionId": "p2-stub-v1"
}